#modules_table {
  position:relative;
  z-index:1;
  border-collapse:separate;
  border-spacing:0px;
  border-top:solid silver 1px;
  border-right:solid white 1px;
  border-bottom:solid white 1px;
  border-left:solid silver 1px;
}

#module-table-form table.sticky-header {
  margin-left:2px;
}

#modules_table tbody tr {
  background:url(images/row_background.png) repeat-x white;
}

#module-table-form table.sticky-header thead th,
#module-table-form table.sticky-header thead td,
#modules_table thead th,
#modules_table tbody td {
  padding:0px 5px;
}

#module-table-form table.sticky-header thead th,
#modules_table thead th {
  background:url(images/thead.png) repeat-x white 0px 100%;
  border-top:none;
  cursor:pointer;
  border-left:#fff 1px solid;
  border-right:#ccc 1px solid;
  border-bottom:solid silver 1px;
}

#module-table-form table.sticky-header tbody td,
#modules_table tbody td {
  border-top:solid white 1px;
  border-bottom:solid silver 1px;
}

#module-table-form table.sticky-header tbody td.column_name,
#modules_table tbody td.column_name {
  border-left:solid white 1px;
}

#module-table-form table.sticky-header thead th.column_enabled,
#modules_table thead th.column_enabled,
#modules_table tbody td.column_status {
  border-right:solid silver 1px;
}

#modules_table tbody td.column_status div {
  width:16px;
  height:16px;
  background-repeat:no-repeat;
  background-position:50% 50%;
}

#modules_table tbody td.column_status div.success {
  background-image:url(images/success.png);
}

#modules_table tbody td.column_status div.loading {
  background-image:url(images/loading.gif);
}

#modules_table tbody td.column_status div.uninstall {
  background-image:url(images/uninstall.png);
}

#modules_table tbody td.column_status div.error {
  background-image:url(images/error.png);
}

#modules_table tbody td.column_enabled {
  width:75px;
}

#modules_table tbody td.column_enabled .form-item {
  width:70px;
  margin:auto;
}

#modules_table tbody td.column_enabled .form-checkbox {
  display:none;
}

#module-table-form table.sticky-header thead th.column_info,
#module-table-form table.sticky-header thead th.column_permissions,
#module-table-form table.sticky-header thead th.column_configure,
#module-table-form table.sticky-header thead th.column_enabled,
#modules_table thead th.column_info,
#modules_table thead th.column_permissions,
#modules_table thead th.column_configure,
#modules_table thead th.column_enabled,
#modules_table tbody td.column_info,
#modules_table tbody td.column_permissions,
#modules_table tbody td.column_enabled {
  text-align:center;
}

#modules_table .headerSortUp .arrow {
  background:url(images/arrow_up.gif) no-repeat 100% 50%;
}

#modules_table .headerSortDown .arrow {
  background:url(images/arrow_down.gif) no-repeat 100% 50%;
}

#modules_table a,
#modules_table img {
  outline:none;
}

#modules_table img {
  margin-top:5px;
}

.sticky-header {
  z-index:11;
}

#modules_table div.module_description {
  display:none;
}

#tooltip {
	position:absolute;
	z-index:3000;
	max-width:200px;
}

#tooltip.viewport-bottom {
  padding-top:40px;
}

#tooltip h3, #tooltip div { margin: 0; }

#module_description_table {
  border-collapse:collapse;
}

#module_description_table tbody {
  border:none;
}

#module_description_table thead th,
#module_description_table tbody td,
#module_description_table tbody tr {
  background:none;
  border:none;
  margin:0px;
  padding:0px;
}

#module_description_table td.top_left {
  width:14px;
  height:14px;
  background:url(images/tooltip_top_left.png) no-repeat;
}

#module_description_table td.top_center {
  height:14px;
  background:url(images/tooltip_top.png) repeat-x;
}

#module_description_table td.top_right {
  width:14px;
  height:14px;
  background:url(images/tooltip_top_right.png) no-repeat;
}

#module_description_table td.middle_left {
  width:14px;
  background:url(images/tooltip_left.png) repeat-y;
}

#module_description_table td.middle_center {
  background-color:#FEFFC4;
  font-size:10px;
  line-height:12px;
}

#module_description_table td.middle_right {
  width:14px;
  background:url(images/tooltip_right.png) repeat-y;
}

#module_description_table td.bottom_left {
  width:14px;
  height:14px;
  background:url(images/tooltip_bottom_left.png) no-repeat;
}

#module_description_table td.bottom_center {
  height:14px;
  background:url(images/tooltip_bottom.png) repeat-x;
}

#module_description_table td.bottom_right {
  width:14px;
  height:14px;
  background:url(images/tooltip_bottom_right.png) no-repeat;
}

#module_description_table span.enabled, #module_description_table span.disabled {
  width:11px;
  height:11px;
  display:inline-table;
  margin-left:4px;
}

#module_description_table span.enabled {
  background:url(images/module_enabled.png) no-repeat;
}

#module_description_table span.disabled {
  background:url(images/module_disabled.png) no-repeat;
}

#module-table-permissions-form table {
  margin-top:0px;
  border-collapse:separate;
  border-spacing:0px;
}

#module-table-permissions-form thead th {
  border:none;
  border-bottom:#ccc 1px solid;
}

#module-table-permissions-form th,
#module-table-permissions-form td {
  white-space:nowrap;
  border-bottom:#ccc 1px solid;
  border-top:#fff 1px solid;
}

#module-table-permissions-form tr.even,
#module-table-permissions-form tr.odd {
  background:none;
}

#module-table-permissions-form th.checkbox,
#module-table-permissions-form td.permission {
  font-size:11px;
  font-weight:normal;
}

.module_table_config_wrapper {
  position:absolute;
  top:0px;
}

.column_configurations {
  vertical-align:top;
}

.module_table_config_positioner {
  position:relative;
  top:0px;
  left:0px;
  width:27px;
  height:27px;
  margin:auto;
}

.module_table_config_wrapper #module_description_table {
  position:relative;
  top:-40px;
  margin:0px;
  left:20px;
  z-index:100;
}

#module_description_table ul {
  margin:5px 0px 0px 0px;
}

.admin_tasks,
#module_description_table li,
.admin_tasks li {
  white-space:nowrap;
}

.admin_tasks {
  display:none;
}

.slider_mask_left {
  width:5px;
  height:100%;
  background:url(images/slider_mask.png) no-repeat;
  position:absolute;
}

.slider_mask_right {
  width:10px;
  height:100%;
  background:url(images/slider_mask.png) no-repeat 100% 0px;
  position:absolute;
  right:-3px;
}

.slider_container {
  background:url(images/slider_back.png) no-repeat 1px 0px;
}

.slider {
  background:url(images/slider.png) no-repeat;
}